img{
    /* width: 100px; */
    width: 30%;
    margin: 1.666%;
    /* margin: calc(10%/6); */
}

nav{
    width: 30%;
    margin-left: calc(10%/6);
    border-bottom: 2px solid #f1f1f1;
    padding: 20px 0;
    font-family: 'Langar', system-ui;
}